.dashboard-menu,.login-menu{
    width: 60%;
    margin: 0 auto;
    border: 1px solid;
    padding: 0.5rem;
    font-size: 1rem;
}
.dashboard-menu a:hover,.login-menu a:hover{
    text-decoration: underline;
    color: red;
}
